body {
    background-color: blueviolet;
}

header ul {
    display: flex;
    justify-content: center;
    max-width: 65%;
    font-weight: bold;
    margin: 50px auto;
    font-size: 55px;
}

header div {
    display: flex;
    justify-content: center;
    max-width: 75%;
    font-weight: bold;
    font-size: 35px;
    margin: 60px auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 50px auto;
}

.button {
        max-width: 75%;
        padding: 30px;
}

h1 {
    font-size: 30px;
}